@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');

:root {
    --primary-color: #54E6AF;
    --secondary-color: #C2CBE5;
    --dark: #121725;
    --white: #FFF;
    --error-red: #FB3E3E;
    --button-hover-color: #B3FFE2;
    --input-bg-color: #2C344B;
    --body-font-size: 18px;
    --title-font-size: 52px;

}

body {
    background-color: var(--dark);
    font-family: 'Chivo', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: var(--white);
    margin: 16px;
    padding: 0;
}

/* resets css on the page: */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button {
    display: block;
    background-color: var(--primary-color);
}

.headline {
    color: var(--primary-color)
}

/* MOBILE STYLES */
@media only screen and (max-width: 400px) {
    body {
        text-align: center;
        background-image: url("assets/mobile/image-host.jpg");
        background-blend-mode: overlay;
        background-color: var(--dark);
    }
    

    span {
        display: block;
    }

    button {
        border-radius: 28px;
        padding: 10px;
        margin-bottom: 16px;
        width: 90%;
        border: none;
        color: var(--dark);

    }

}